{% extends "bootstrap5/base.html" %}
{% load cms_tags sekizai_tags static menu_tags %}

<!DOCTYPE html>
<html lang="es">
<head>
    {% block meta_tags %}{% endblock %}
    {% block styles %}{% endblock %}
</head>
<body>
    <header id="header">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        {% block brand_name %}Tu Portal{% endblock %}
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    {% show_menu 0 1 100 100 "menu.html" %}
                </div>
            </div>
        </nav>
    </header>

    <main id="main">
        <div class="container">
            {% block main_content %}{% endblock %}
        </div>
    </main>

    <footer id="footer">
        <div class="container">
            {% block footer_content %}<p>Tu Portal © {{ current_year }}</p>{% endblock %}
        </div>
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>